__pycache__/
venv/
.venv/
env/
*.egg-info/
*.dist-info/
pip-wheel-metadata/
.pytest_cache/
.env
.env.*
!.env.example
__pycache__/
venv/
.venv/
env/
*.egg-info/
*.dist-info/
pip-wheel-metadata/
.pytest_cache/
backend/__pycache__/
backend/venv/
backend/.venv/
backend/env/
backend/*.egg-info/
backend/*.dist-info/
backend/database/pycache/*
backend/orchestrator/pycache/*
backend/database/venv/
frontend/node_modules/*